bqplot
ipycanvas>=0.9.1
ipyevents>=2.0.1
ipyleaflet
ipympl>=0.8.2
ipywidgets
jupyterlab
jupyterlab-drawio
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
jupyterlab-tour
jupyterlab_miami_nights
jupyterlite
jupyterlite-p5-kernel
jupyterlite-xeus-lua
jupyterlite-xeus-wren
jupyterlite-xeus-sqlite
plotly
theme-darcula
